head
    style(type='text/css')
        include style.css
body
    div.content
        div.header
            h1.title #{title}
        div.body
            div !{body}
            p Thanks for choosing Best Buddy.
            p - Best Buddy Cute Team
        include footer.pug


